
.navbar-brand{
  color: var(--main-primary-color) !important;
  font-size: 26px;
}

.navbar .nav-link{
  font-size: 16px;
  color: var(--main-body-font-color) !important;
  cursor: pointer;
}

.navbar .active .nav-link,.navbar .nav-link:hover{
  color:  var(--main-primary-color) !important;
}
.navbar .nav-link:hover .custom-dropdown{
  display: block;
}
.custom-dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 250px;
  padding-top: 12px;
}

.dropdown-links{
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  /* justify-content: space-around; */
  padding: 12px;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  text-decoration: none !important;
}
.custom-dropdown .dropdown-links:last-child{
  border: 0px;
}

.dropdown-text{
  color: var(--main-body-font-color) !important;
  /* margin-left: 16px; */
  text-overflow: ellipsis;
  -webkit-transition: color .15s ease-out;
  transition: color .15s ease-out;
}
.dropdown-links:hover .dropdown-text{
  color:  var(--white) !important; 
  
}

.dropdown-links:hover{
  background: var(--main-primary-color) !important;
}






.sidebar{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
  z-index: 1;
  transform: translateX(-100%);
  transition: .2s linear;
  
}

.sidebar-open{
  transform: translateX(0);
}


.sidebar-content-container{
  height: 100%;
  width: 75%;
  background: #fff;
  overflow: scroll;
}

.sidebar-icon{
  height: 16px !important;
  width: 16px !important;
}


.sidebar-links{
  justify-content: space-between;
  display: flex;
}

.sidebar-links *{
  pointer-events: none;
}

.secondary-sidebar{
  height: 100%;
  width: 100%;
  background: #fff;
}

.sidebar-links .back-button{
  
  margin-right: 10px;
  transform: rotateZ(180deg) translateY(-15px);
}