.logo-image{
  width: 100px;
  height: 100px;
}
.company-name{
  /* display: inline-block; */
  /* width: 80%; */
  /* position: relative;
  display: block; */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.company-name h1{
}

.nav-bar-slide-btn{
  color: white;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}
.header-mobile{
  height: 60px;
  position: relative;
}
.slidemenu{
  list-style: none;
  padding: 10px;
  text-align: center;
  width: 50%;

}
.slidemenu li{
  text-decoration: none;
  text-transform: uppercase;
}
.menu-container{
  background: #ececec;
}